@charset "UTF-8";
/*mixins*/
/*mixins close*/
body {
  min-width: 960px; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  margin: 0;
  padding: 0;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: block;
  position: relative;
  min-height: 650px; }

.we-do {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  background-color: #111114;
  background-image: url(../img/bg1.jpg);
  margin-bottom: -48px; }

.header__nav--link {
  text-decoration: none;
  font-family: Ubuntu, Arial, sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-transform: uppercase; }
  .header__nav--link:hover {
    text-decoration: underline; }

.header__nav--btn {
  background-color: #e35028;
  border: none;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 1%;
  padding-bottom: 4%;
  padding-left: 19%;
  padding-right: 16%;
  text-decoration: none;
  font-family: Ubuntu, Arial, sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-transform: uppercase;
  padding-left: 16%;
  padding-right: 16%;
  display: block;
  text-align: center; }
  .header__nav--btn:hover {
    background-color: #c1401e; }

.we-do__text--first {
  font-family: Gagalin, Arial, sans-serif;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3rem; }

.we-do__text--second {
  font-family: Lifehack, Arial, sans-serif;
  color: white;
  font-size: 4rem;
  font-weight: 500;
  line-height: 3.7rem; }

.header__nav--list {
  list-style: none; }

/*Декорирование breadcrumbs*/
.breadcrumbs__btn {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.breadcrumbs__label {
  cursor: pointer;
  position: relative; }

.breadcrumbs__label input[type="radio"] + .breadcrumbs__indicator {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white; }

.breadcrumbs__label input[type="radio"]:checked + .breadcrumbs__indicator::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid white; }

.breadcrumbs__label input[type="radio"]:hover + .breadcrumbs__indicator::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid white; }

.breadcrumbs__item {
  margin-bottom: 3px;
  color: transparent; }

/*Декорирование Breadcrumbs close*/
.we-do__next-step--link {
  display: block;
  background-image: url(../img/icons/arrow-scroll.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 16px; }

/*Сетки*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -5%; }

.header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__nav {
  margin-left: 3.1%;
  padding-top: 2%; }

.header__nav--item {
  position: relative;
  margin-right: 38px; }
  .header__nav--item:last-child {
    margin-right: 0; }
  .header__nav--item::before {
    content: "";
    position: absolute;
    background-color: white;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 13px;
    left: -19px; }
  .header__nav--item:first-child::before {
    display: none; }

.header__nav--btn-wrap {
  margin-left: 22px;
  padding-top: 34px; }

.we-do__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.we-do__img {
  margin-left: 4%; }

.we-do__text {
  margin-left: 3%;
  padding-top: 14%; }

.we-do__text--first {
  margin-bottom: 5%;
  display: block; }

.breadcrumbs {
  position: fixed;
  top: 14%;
  right: 15.5%;
  z-index: 50; }

.we-do__next-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 8%; }

/*Сетки close*/
.we-best {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  background-color: #f6f0ec;
  background-image: url(../img/bg2.jpg);
  margin-bottom: -1.65%; }

.we-best__title {
  font-family: Gagalin, Arial, sans-serif;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3rem;
  color: #2f3234;
  font-size: 72px;
  line-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 13%;
  margin-bottom: 6%; }

.advantages {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  padding-left: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.advantages__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.advantages__title {
  font-family: Lifehack, Arial, sans-serif;
  color: white;
  font-size: 4rem;
  font-weight: 500;
  line-height: 3.7rem;
  font-size: 24px;
  line-height: 28px;
  color: #2f3234;
  text-align: center;
  margin-bottom: 0; }

.advantages__text {
  text-decoration: none;
  font-family: Ubuntu, Arial, sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  font-size: 14px;
  line-height: 24px;
  color: #2f3234;
  text-align: center; }

.advantages__img {
  margin-bottom: 2%;
  background-repeat: no-repeat;
  background-position: center center; }
  .advantages__img--meat {
    /* background-image: url(../../img/icons/meat.svg);*/
    width: 100px;
    height: 90px; }
  .advantages__img--hand {
    /*background-image: url(../../img/icons/hand.svg);*/
    width: 70px;
    height: 85px; }
  .advantages__img--sheet {
    /*background-image: url(../../img/icons/natural.svg);*/
    width: 87px;
    height: 76px; }

.reviews {
  min-height: 650px;
  width: 100%;
  margin-bottom: -3.5%; }

.reviews__title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #2f3234; }

.reviews__hover {
  visibility: hidden;
  position: absolute;
  height: 100%;
  z-index: 10;
  top: 0%;
  left: 0%;
  background-color: rgba(20, 20, 20, 0.7);
  opacity: 0;
  padding-top: 10%;
  padding-left: 7%; }

.reviews__hover--title {
  font-family: Gagalin, Arial, sans-serif;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: white; }

.reviews__hover--text {
  text-decoration: none;
  font-family: Ubuntu, Arial, sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 86%; }

.reviews__hover--btn {
  background-color: #e35028;
  border: none;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 1%;
  padding-bottom: 4%;
  padding-left: 19%;
  padding-right: 16%;
  text-decoration: none;
  font-family: Ubuntu, Arial, sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  background-color: #2f3234;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 4%; }
  .reviews__hover--btn:hover {
    background-color: #c1401e; }
  .reviews__hover--btn:hover {
    background-color: #1f2122; }

.reviews__item {
  background-repeat: no-repeat;
  background-position: center center;
  width: 25%;
  height: 50%;
  z-index: 7;
  margin-bottom: -0.3%;
  position: relative;
  overflow: hidden; }
  .reviews__item:hover .reviews__hover {
    visibility: visible;
    opacity: 1; }

.reviews__img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.team {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  background-color: #111114;
  background-image: url(../img/bg4.jpg);
  margin-bottom: -48px;
  position: relative; }

.team__right {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(7, 50, 52, 0.9);
  width: 50%;
  min-height: 100%; }

.team__title {
  font-family: Gagalin, Arial, sans-serif;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3rem;
  line-height: 4rem;
  margin-left: -16%;
  margin-bottom: 8%; }

.team__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 19%; }

/*.team__block--close{
    height: 0;
    overflow: hidden;
    margin-bottom:0;
   
}*/
.team__block--open {
  height: 105px;
  overflow: visible;
  margin-bottom: 6%;
  margin-left: 1%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team__member {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Gagalin, Arial, sans-serif;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3rem;
  font-size: 0.8rem;
  line-height: 1.75rem;
  color: white;
  position: relative; }
  .team__member::before {
    content: "";
    cursor: pointer;
    position: absolute;
    left: -12px;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 8px solid #f9b43b;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent; }

.team__block--image {
  border-radius: 50%;
  width: 102px;
  height: 102px; }

.team__block--title {
  text-decoration: none;
  font-family: Ubuntu, Arial, sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 600; }

.team__block--text {
  text-decoration: none;
  font-family: Ubuntu, Arial, sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  font-size: 0.8rem;
  line-height: 1.5rem; }

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 8%;
  padding-right: 17%; }

.team__item {
  margin-bottom: 4.5%; }

.team__block--content {
  margin-left: 4%;
  margin-top: -4%;
  width: 43%; }

.menu {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  background-color: #111114;
  background-image: url(../img/bg5.jpg);
  margin-bottom: -48px;
  position: relative; }

.menu__list {
  list-style: none;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 40%;
  right: 0; }

.menu__title {
  font-family: Gagalin, Arial, sans-serif;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3rem;
  line-height: 4rem;
  color: white; }

.menu__item--title {
  font-family: Gagalin, Arial, sans-serif;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3rem;
  font-size: 2.5rem;
  line-height: 4rem;
  color: white; }

.menu__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.5rem; }

/*.menu__item--bg1{
    height: 100%;
    @include backgroundImage;
    background-image: url(../img/ac1.jpg);
}*/
.order__title {
  font-family: Gagalin, Arial, sans-serif;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3rem;
  line-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.form__block-title, .form__reset {
  text-decoration: none;
  font-family: Ubuntu, Arial, sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  font-size: 0.8rem;
  line-height: 1.5rem; }

.order {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  background-color: #2f3234;
  background-image: url(../img/bg3.jpg);
  padding-top: 9%; }

.form__input,
.form__textaria {
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: 5px 20px;
  width: 100%; }

.form__textaria {
  height: 122%; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.form__radio-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 6%;
  padding-left: 0;
  margin-top: 8%; }

.form__radio-item {
  margin-right: 43px; }

.form__reset {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

.form__submit {
  background-color: #e35028;
  border: none;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 1%;
  padding-bottom: 4%;
  padding-left: 19%;
  padding-right: 16%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-right: 3%; }
  .form__submit:hover {
    background-color: #c1401e; }

/*Стилизация чекбоксов и радиобаттонов*/
.form__radio,
.form__checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.form__block {
  cursor: pointer;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

.form__block input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 23px;
  left: -25px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white; }

.form__block input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e35028; }

.form__block input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: white; }

.form__block input[type="checkbox"]:checked + .checkbox-indicator::before,
.form__block input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  background-image: url(../img/check.png); }

/*Стилизация чекбоксов и радиобаттонов close*/
.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__left,
.form__right {
  width: 45%; }

.form__right {
  margin-left: 6%; }

.form__block-title--mr {
  margin-left: 6%; }

.map {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  background-color: #111114;
  background-image: url(../img/map.jpg);
  margin-bottom: -17px;
  position: relative; }

.footer {
  background-color: #2f3234;
  min-height: 60px;
  width: 100%; }

.footer__address, .footer__phone {
  text-decoration: none;
  font-family: Ubuntu, Arial, sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  font-size: 0.8rem;
  line-height: 1.5rem; }

.footer__phone {
  color: #f9b43b; }

.footer__socials--list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__socials--link {
  text-decoration: none; }

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.footer__left,
.footer__right {
  width: 50%; }

@font-face {
  font-family: "Lifehack";
  src: url(../fonts/Lifehack-Medium.woff2) format("woff2");
  font-weight: 500; }

@font-face {
  font-family: "Gagalin";
  src: url(../fonts/Gagalin/Gagalin-Regular.woff2) format("woff2");
  font-weight: 400; }

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Light.woff2) format("woff2");
  font-weight: 300; }

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Regular.woff2) format("woff2");
  font-weight: 400; }

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Medium.woff2) format("woff2");
  font-weight: 500; }

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-B.woff2) format("woff2");
  font-weight: 700; }
