$colorWhite:white;
$colorOrange:#f9b43b;
$colorBlack:#2f3234;
$colorRed:#e35028;
/*mixins*/

@mixin fontUbuntu {
    text-decoration: none;
    font-family: Ubuntu, Arial, sans-serif;
    color: $colorWhite;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.8rem;
}

@mixin container {
    margin: 0;
    padding: 0;
    width: 940px;
    //width: 95%;
    margin: 0 auto;
    padding: 0 10px;
    display: block;
    position: relative;
    min-height: 650px;
}
@mixin visuallyHidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
@mixin btn {
    background-color: $colorRed;
    border: none;
    border-radius: 4px;
    color: $colorWhite;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 4%;
    padding-left: 19%;
    padding-right: 16%;
    &:hover {
        background-color: #c1401e;
    }
}

@mixin fontOrangeGagalin {
    font-family: Gagalin, Arial, sans-serif;
    color: $colorOrange;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 5.3rem;
}

@mixin fontWhiteLifehack {
    font-family: Lifehack, Arial, sans-serif;
    color: $colorWhite;
    font-size: 4rem;
    font-weight: 500;
    line-height: 3.7rem;
}

@mixin backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 650px;
    width: 100%;
}
@mixin bgImageReview {
    background-repeat: no-repeat;
    background-position: center center;
    width: 25%;
    height: 50%;
    z-index: 7;
}
@mixin input {
    border-radius: 5px;
    border: none;
    background: #fff;
    padding: 5px 20px;
}
/*mixins close*/