

body {
    min-width: 960px;
}
.wrapper{
position: relative;
  width: 100%;
  
  min-height: 100%;
  overflow: hidden;
}
.container {
    @include container;
}

.we-do {
    @include backgroundImage;
    background-color: #111114;
    background-image: url(../img/bg1.jpg);
    margin-bottom: -3.5%;
}

.header__nav--link {
    @include fontUbuntu;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
}

.header__nav--btn {
    @include btn;
    @include fontUbuntu;
    text-transform: uppercase;
    padding-left: 16%;
    padding-right: 16%;
    display: block;
    text-align: center;
}

.we-do__text--first {
    @include fontOrangeGagalin;
}

.we-do__text--second {
    @include fontWhiteLifehack;
}

.header__nav--list
/*,
 .breadcrumbs__list*/

    {
    list-style: none;
}

/*Декорирование breadcrumbs*/
.breadcrumbs__btn{
@include visuallyHidden ;
}

.breadcrumbs__label {
    cursor: pointer;
    position: relative;
}

.breadcrumbs__label input[type="radio"]+.breadcrumbs__indicator {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.breadcrumbs__label input[type="radio"]:checked+.breadcrumbs__indicator::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 1);
}

.breadcrumbs__label input[type="radio"]:hover+.breadcrumbs__indicator::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 1);
}

.breadcrumbs__item {
    margin-bottom: 3px;
    color: transparent;
}

/*Декорирование Breadcrumbs close*/

.we-do__next-step--link {
    display: block;
    background-image: url(../img/icons/arrow-scroll.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 1.875rem;
    height: 1rem;
}

/*Сетки*/

.header {
    display: flex;
    margin-bottom: -5%;
}

.header__nav--list {
    display: flex;
}

.header__nav {
    margin-left: 3.1%;
    padding-top: 2%;
}

.header__nav--item {
    position: relative;
    margin-right: 38px;
    &:last-child {
        margin-right: 0;
    }
    &::before {
        content: "";
        position: absolute;
        background-color: $colorWhite;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        top: 13px;
        left: -19px;
    }
    &:first-child::before {
        display: none;
    }
}

.header__nav--btn-wrap {
    margin-left: 22px;
    padding-top: 34px;
}

.we-do__content {
    display: flex;
}
.we-do__img {
    margin-left: 4%;
}
.we-do__text {
    margin-left: 3%;
    padding-top: 14%;
}

.we-do__text--first {
    margin-bottom: 5%;
    display: block;
}

.breadcrumbs {
    position: fixed;
    top: 14%;
    right: 15.5%;
    z-index: 50;
}

.we-do__next-step {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

/*Сетки close*/
