.footer{
    
    background-color: $colorBlack;
    
    min-height: 60px;
    width: 100%;
}
.footer__address{
    @include fontUbuntu;
    font-size: 0.8rem;
    line-height: 1.5rem;
}
.footer__phone{
    @extend .footer__address;
    color: $colorOrange;
}
.footer__socials--list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.footer__socials--link{
   text-decoration: none;
}
.footer .container{
    display: flex;
}
.footer__contacts{
    display: flex;
    flex-direction: column;
}
.footer__left,
.footer__right {
    width: 50%;
}