

.we-best{
    @include backgroundImage;
    
    background-color: #f6f0ec;
    background-image: url(../img/bg2.jpg);
    margin-bottom: -1.65%;
}
.we-best__title {
    @include fontOrangeGagalin;
    color: $colorBlack;
    font-size: 4.5rem;
    line-height: 4rem;
    display: flex;
    justify-content: center;
 padding-top: 13%;
    margin-bottom: 6%;
}
.advantages{
    list-style: none;
    display: flex;
    margin-left: 0;
    padding-left: 0;
    justify-content: space-between;
}
.advantages__item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantages__title{
    @include fontWhiteLifehack;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: $colorBlack;
    text-align: center;
    margin-bottom: 0;
}
.advantages__text {
    @include fontUbuntu;
    font-size:0.875rem;
    line-height: 1.5rem;
    color: $colorBlack;
    text-align: center;
}
.advantages__img{
    margin-bottom: 2%;
    background-repeat: no-repeat;
    background-position: center center;
    
    &--meat{
       /* background-image: url(../../img/icons/meat.svg);*/
        
        width:6.25rem;
        height: 5.6rem;
        
    }
    &--hand{
        /*background-image: url(../../img/icons/hand.svg);*/
        
        width:4.375rem;
        height: 5.31rem;
        
    }
    &--sheet{
        /*background-image: url(../../img/icons/natural.svg);*/
        
        width:5.43rem;
        height: 4.75rem;
       
    }
    
}
