@import "first-section-we-do.scss";

.we-best{
    @include backgroundImage;
    
    background-color: #f6f0ec;
    background-image: url(../../img/bg2.jpg);
}
.we-best__title {
    @include fontOrangeGagalin;
    color: $colorBlack;
    font-size: 72px;
    line-height: 64px;
    display: flex;
    justify-content: center;
}